@import url('https://fonts.googleapis.com/css?family=Quicksand');
        html, body{ 
				width:100%; height:100%;
				margin:0; padding:0; 
			}
			body *{ 
				margin:0; padding:0; 
				box-sizing:border-box;
			}
			a{ text-decoration:none;  }
			ol, ul{ list-style-type:none; }

            header{ 
				display: flex; 
				justify-content: space-between; 
				align-items: center; 
				/* background-color: white; 
				opacity: 0.7;  */
				position: absolute; 
				top:0;
				width: 100%; 
				z-index: 100;
				font-family: 'Quicksand', sans-serif;
			}
                header *{
                    width: 150px;
                }
                header img{ 
                    width: 100px; 
                    padding-left: 10px;
                }
                h1 {
                    text-align: center;

                }
                header > p {
                    text-align: center;
                }
                header p a {
                    color: black;
                    font-size: 20px;
                }


        #main {
                width: 100%;
                height: 100%;
				background: url('slike/trava1.png') no-repeat;
            background-position: center;
            background-size: cover;
			padding: 40px 0;
				
            }
			#main div{
			
			
                width: 20vw;
                height: 25vh;
			
			}
                .slike {
                    border: 1px solid black;
                    width: 20vw;
                    height: 30vh;
                    margin: 1% 2.29vw;
                    float: left;
					transition: 1s;
					box-shadow: 6px 6px 6px black;
                }
                    .slike:hover {
                        cursor: pointer;
						filter: graysacle(100%);
						transform: scale(1.1);
                    }
                    .slikePoz {
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
            #veliki {
                position: absolute;
                display: none;
                align-items: center;
                top: 0; left: 0;
                z-index: 100;
                height: 100%;
                width: 100%;
                background: rgba(90, 85, 85, 0.658);
                text-align: center;
            }
                #veliki p {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 50px;
                    height: 50px;
                    color: white;
                    font-size: 40px;
                    text-shadow: 1px 1px 2px black, -1px -1px 2px black, -1px 1px 2px black, 1px -1px 2px black;
                }
                    #veliki p:hover {
                        cursor: pointer;
                    }
                .velikaSlika {
                    display: flex;
                    width: 75vw;
                    margin: 0 auto;
                    height: 85vh;
                    border: 1px solid rgba(245, 245, 245, 0.808);
                    border-radius: 70px;
                }
			
			footer{
                height: 50px;
                width: 100%;
                position: absolute;
                bottom: 0;
                z-index: 100;
            }
            footer p{
                float: left;
                line-height: 50px;
                padding-left: 25px;
                font-family: 'Quicksand', sans-serif;
            }
            ul.social li {
                float: right;
                padding-right: 25px;
                line-height: 50px;
            }
            ul li a {
                color: black;
            }